<!--The content below is only a placeholder and can be replaced.-->


<input #query (keyup)="0">
<button (click)="getSearchResults(query.value)">Search</button>
<p *ngIf="searchResult">1 caption = 1 document:</p>
<table>
    <tr *ngFor="let result of searchResult">
        <td>{{$index}}</td>
        <td><a href="{{result['link']}}">{{result['text']}}</a></td>
    </tr>
</table>

<p *ngIf="searchPauseSplittedResult">1 fragment = 1 document (split by pauses):</p>
<table>
    <tr *ngFor="let result of searchPauseSplittedResult">
        <td>{{$index}}</td>
        <td><a href="{{result['link']}}">{{result['text']}}</a></td>
    </tr>
</table>

<p *ngIf="searchSimilarMergedResult">1 fragment = 1 document (after clusterisation):</p>
<table>
    <tr *ngFor="let result of searchSimilarMergedResult">
        <td>{{$index}}</td>
        <td><a href="{{result['link']}}">{{result['text']}}</a></td>
    </tr>
</table>

<input #videoId (keyup)="0">
<button (click)="postVideoToIndex(videoId.value)">Index video with id: </button>

<div *ngIf="!isAuthorizedToGoogle()">
    You are not authorized to google
    <button (click)="getAuthLink()">auth</button>
</div>

<p>Baobab: {{this.baobab}}</p>
